<template>
  <article class="card-large">
    <div class="row">
      <p><IconShop /><strong>Nombre del negocio:</strong></p>
      <p><span>Lalos Tacs</span></p>
    </div>
    <div class="row">
      <p><IconAddress /><strong>Dirección:</strong></p>
      <p><span>Calle Acueducto esquina Ruiz Cortines</span></p>
    </div>
    <div class="row">
      <p><IconLocation /><strong>Ubicación geografica:</strong></p>
      <p><span>19.5540, -96.9336</span></p>
    </div>
    <div class="row">
      <p><IconPhone /><strong>Número de telefono:</strong></p>
      <p><a href="tel:2281234567">2281234567</a></p>
    </div>
    <div class="row">
      <p><IconEmail /><strong>Correo electronico:</strong></p>
      <p><a href="mailto:lalotacs@gmail.com">lalostacs@gmail.com</a></p>
    </div>
    <div class="row">
      <IconClock />
      <p><strong>Hora de apertura:</strong></p>
      <p><span>09:00</span></p>
      <p><strong>Hora de cierre:</strong></p>
      <p><span>20:00</span></p>
    </div>
    <div class="row">
      <p><IconUser /><strong>Nombre de contacto:</strong></p>
      <p><span>Juan Perez</span></p>
    </div>
    <div class="row">
      <p><IconTag /><strong>Etiquetas:</strong></p>
      <p>
        <span class="tag">Taqueria</span>
        <span class="tag">Comida</span>
      </p>
    </div>
    <div class="row">
      <p><IconDelivery /><strong>¿Entrega a domicilio?:</strong></p>
      <p><span>Sí</span></p>
    </div>
    <div class="row">
      <p><IconInfo /><strong>Detalles:</strong></p>
      <p><span>Para mejor atención primero llamennos por telefono</span></p>
    </div>
  </article>
</template>

<script>
import IconClock from '@/assets/svg/iconmonstr-time-3.svg';
import IconPhone from '@/assets/svg/iconmonstr-smartphone-3.svg';
import IconEmail from '@/assets/svg/iconmonstr-email-1.svg';
import IconAddress from '@/assets/svg/iconmonstr-map-5.svg';
import IconDelivery from '@/assets/svg/iconmonstr-delivery-3.svg';
import IconInfo from '@/assets/svg/iconmonstr-info-5.svg';
import IconTag from '@/assets/svg/iconmonstr-tag-1.svg';
import IconShop from '@/assets/svg/iconmonstr-shop-3.svg';
import IconLocation from '@/assets/svg/iconmonstr-location-1.svg';
import IconUser from '@/assets/svg/iconmonstr-user-1.svg';

export default {
  name: 'ModalComponent',

  components: {
    IconClock,
    IconPhone,
    IconEmail,
    IconAddress,
    IconDelivery,
    IconInfo,
    IconTag,
    IconShop,
    IconLocation,
    IconUser,
  },
};
</script>

<style scoped>
.container {
  padding: 1rem;
}

.card-large {
  padding: 1rem 2rem;
  position: relative;
  background-color: var(--color-whitest);
  border-radius: 2px;
  border: 0.2rem solid var(--color-grey);
  box-shadow: 0 0.5rem 0.5rem var(--color-grey);
  transition: all 0.5s;
}
.card-large .title {
  font-size: 1.6rem;
  text-align: center;
}

.card-large .row {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  border-bottom: 0.15rem solid var(--color-grey);
}

.card-large strong {
  margin-right: 0.75rem;
}

.card-large svg {
  height: 16px;
  margin-right: 0.75rem;
}

.card-large p {
  font-size: 1.2rem;
}

.card-large a,
.card-large span {
  color: var(--color-azure);
  letter-spacing: 0.01rem;
  margin-right: 0.75rem;
}

.card-large .tag {
  background-color: var(--color-grey);
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  font-size: 0.9rem;
}

.card-large .tag:before {
  content: '\0023';
}
</style>
