<template>
  <div class="form-container">
    <h1 class="title">Registro un negocio</h1>
    <div class="description">
      <div class="icon"><IconInfo /></div>
      <p>
        Por favor llene el siguiente formulario para que aparezca en nuestro
        mapa de negocios locales
      </p>
    </div>
    <form class="form" @submit.prevent="registerBusiness()">
      <fieldset class="fieldset">
        <label for="name" class="label">Nombre del negocio</label>
        <input
          v-model="business.name"
          class="input"
          name="name"
          type="text"
          required
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend>Calle, numero, colonia y código postal</legend>
        <label for="address" class="label">Dirección</label>
        <input
          v-model="business.address"
          class="input"
          name="address"
          type="text"
          required
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend>Puede poner telefono fijo o celular</legend>
        <label for="phone_number" class="label">Número de telefono</label>
        <input
          v-model="business.phone_number"
          class="input"
          name="phone_number"
          type="text"
          required
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend>
          Si lo pone los usuarios podran contactar por correo electronico
        </legend>
        <label for="email" class="label">Correo electronico (opcional)</label>
        <input
          v-model="business.email"
          class="input"
          name="email"
          type="email"
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend>Puedes poner página de cualquier red social</legend>
        <label for="url" class="label"
          >Sitio web o página de facebook (opcional)</label
        >
        <input v-model="business.url" class="input" name="url" type="url" />
      </fieldset>
      <fieldset class="fieldset time">
        <legend>El formato de horario es de 24 horas</legend>
        <label for="opening_hour" class="label">Hora de apertura</label>
        <input
          v-model="business.opening_hour"
          class="input"
          name="opening_hour"
          type="time"
        />
        <label for="closing_hour" class="label">Hora de cierre</label>
        <input
          v-model="business.closing_hour"
          class="input"
          name="closing_hour"
          type="time"
          required
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend>Persona responsable del negocio</legend>
        <label for="contact_name" class="label">Nombre de contacto</label>
        <input
          v-model="business.contact_name"
          class="input"
          name="contact_name"
          type="text"
          required
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend>Seleccione las categorias que mejor concuerdan</legend>
        <label for="labels" class="label">Etiquetas</label>
        <input v-model="business.labels" id="labels" type="text" autocomplete />
      </fieldset>
      <fieldset class="fieldset checkbox">
        <legend>Marque este campo si puede hacer entregas a domicilio</legend>
        <label for="home_delivery" class="label">¿Entrega a domicilio?</label>
        <input
          v-model="business.has_delivery"
          class="input"
          name="home_delivery"
          type="checkbox"
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend>Mensaje adicional que quiera mandar</legend>
        <label for="message" class="label">Escribannos mas detalles</label>
        <textarea
          v-model="business.message"
          name="message"
          class="textarea"
          id="message"
          rows="7"
          cols="33"
        ></textarea>
      </fieldset>
      <fieldset class="fieldset submit">
        <!--<input
          @click="registerBusiness()"
          class="input"
          type="button"
          name="submit"
          value="Registrar"
        />-->
        <button class="input" type="submit" name="submit" value="Registrar">
          Registrar
        </button>
      </fieldset>
    </form>
  </div>
</template>

<script>
import IconInfo from '@/assets/svg/iconmonstr-info-5.svg';
import Tagify from '@yaireo/tagify';
import '@yaireo/tagify/dist/tagify.css';
import store from '@/store';
import axios from 'axios';

export default {
  name: 'RegisterComponent',

  store,

  components: {
    IconInfo,
  },

  data() {
    return {
      tagify: null,
      business: {
        name: '',
        address: '',
        location: null,

        contact_name: '',
        phone_number: '',

        email: '',
        url: '',
        opening_hour: '',
        closing_hour: '',
        labels: [],
        has_delivery: false,
        message: '',
      },
    };
  },
  computed: {
    tags() {
      return this.$store.getters.tagifyTags;
    },
  },
  watch: {
    tags() {
      this.tagify.settings.whitelist.splice(0, this.tags.length, ...this.tags);
    },
  },
  filters: {},
  methods: {
    validateFields() {
      let objValidate = true;
      const optional = ['message', 'has_delivery', 'labels', 'url', 'email'];

      Object.keys(this.business).forEach((key) => {
        if (optional.indexOf(key) !== -1) return;
        if (this.business[key] === 'undefined' || this.business[key] === '') {
          objValidate = false;
        }
      });

      if (this.business.labels.length <= 0) {
        objValidate = false;
      }

      return objValidate;
    },
    registerBusiness() {
      const validate = this.validateFields();

      if (validate.status) {
        axios
          .post('/api/store/', {
            name: this.business.name,
            address: this.business.address,
            contact_name: this.business.contact_name,
            phone_number: this.business.phone_number,
            email: this.business.email,
            url: this.business.url,
            labels: this.business.labels,
            opening_hour: this.business.opening_hour,
            closing_hour: this.business.closing_hour,
            has_delivery: this.business.has_delivery,
          })
          .then((response) => {
            if (response.status === 201) {
              this.business = {
                name: '',
                address: '',
                location: null,

                contact_name: '',
                phone_number: '',

                email: '',
                url: '',
                opening_hour: '',
                closing_hour: '',
                labels: [],
                has_delivery: false,
                message: '',
              };
              this.tagify.removeAllTags();
            }
          });
      } else {
        return false;
      }
    },
  },
  mounted() {
    const input = document.getElementById('labels');
    this.tagify = new Tagify(input, {
      whitelist: this.$store.getters.tagifyTags,
      enforceWhitelist: true,
    });
    this.tagify.on('invalid', (e) => {
      this.$store.dispatch('createTag', e.detail.data.value).then((res) => {
        this.tagify.addTags([{ code: res.id, value: res.name }]);
      });
    });

    this.tagify.on('add', (e) => {
      this.business.labels.push(e.detail.data);
    });
  },
};
</script>

<style lang="scss" scoped>
.container {
  padding: 1rem;
}

.form-container {
  width: 35%;
  margin: 0 auto;
}

.form-container .title {
  font-size: 1.6rem;
  text-align: center;
}

.form-container .description {
  display: flex;
  align-content: center;
}

.icon svg path {
  fill: var(--color-dark);
}

.form-container p {
  font-size: 1rem;
}
.form .fieldset {
  border: none;
  margin: 1rem 0;
}

.form .label {
  display: block;
  font-size: 1.1rem;
  color: var(--color-dark);
}

.form .input,
.form .select,
.form .textarea {
  padding: 0.5rem;
  width: 100%;
  font-size: 1.1rem;
}

.form legend {
  font-size: 0.9rem;
}

.form .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form .time .input {
  width: 100px;
}

.form .checkbox {
  display: flex;
  margin: 2rem 0;
}

.form .checkbox .label {
  margin-right: 0.75rem;
}

.form .checkbox .input {
  width: unset;
}

.form button[type='submit'] {
  background-color: var(--color-azure);
  color: var(--color-white);
  text-align: center;
  width: 50%;
  border-radius: 2px;
  border: none;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 90%;
    margin: 0 auto;
  }
  .form .fieldset {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--color-grey);
  }
  .form-container .title {
    margin: 2rem 0;
  }

  .form .time {
    display: block;
  }

  .form .time legend,
  .form .time label,
  .form .time input {
    display: block;
  }

  .form .time .input {
    width: 100%;
  }

  .form .time .label,
  .form .time .input {
    margin-right: 0.5rem;
  }
}
</style>
