<template>
  <div class="tag-search">
    <input id="tag-search" type="text" autocomplete />
  </div>
</template>

<script>
import Tagify from '@yaireo/tagify';
import '@yaireo/tagify/dist/tagify.css';
import store from '@/store';

export default {
  name: 'TagSearch',

  store,

  data() {
    return {
      tagify: null,
    };
  },

  computed: {
    tags() {
      return this.$store.getters.tagifyTags;
    },
  },

  mounted() {
    const input = document.getElementById('tag-search');

    this.tagify = new Tagify(input, {
      whitelist: this.$store.getters.tagifyTags,
      //  whitelist: ["ironman", "antman", "captain america", "thor", "spiderman"],
      enforceWhitelist: true,
    });
  },

  watch: {
    tags() {
      this.tagify.settings.whitelist.splice(0, this.tags.length, ...this.tags);
    },
  },
};
</script>

<style>
#tag-search {
  display: none;
}

.tag-search {
  height: var(--tag-search-height);
  background-color: var(--color-white);
}

.tag-search tags.tagify {
  height: 100%;
}
</style>
