<template>
  <div class="about-page">
    <div class="container">
      <h1>Acerca de</h1>

      <h2>Sobre #ConsumeLocal</h2>
      <p>
        ConsumeLocal es una iniciativa comunitaria para ayudar a los sectores de
        la economia informal y micro y pequeñas empresas que se veran afectados
        durante los siguientes meses por la pandemia global del COVID-19.
      </p>
      <p>
        Nuestro proposito es listar y mostrar en un mapa aquellos negocios que
        seguiran operando mostrando información sobre que servicio proporcionan,
        en que horario y si hacen entregas a domicilio.
      </p>

      <h2>Operación del proyecto</h2>
      <p>
        Cualquier persona puede registrar un negocio, favor de tratar de que la
        información sea veridica para no contribuir a la desinformación.
      </p>
      <h2>Créditos</h2>
      <p>
        El desarrollo del proyecto ha sido coordinado por el siguiente equipo:
      </p>
      <ul>
        <li>Abraham Toriz Cruz</li>
        <li>Mauricio Tellez</li>
        <li>Arturo Marque</li>
        <li>Cesar Encarnación Mendoza</li>
        <li>Mario Contreras</li>
        <li>Isidro Hernández</li>
        <li>Mikhail Cruz Andrade</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutPage',
};
</script>

<style scoped>
.container {
  margin: 0 auto;
  width: 96%;
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.8;
}
</style>
